@tailwind base;
@tailwind components;
@tailwind utilities;


/* NAVBAR  */

.blurNav{
    background-color: #e7ddbf5d;
    backdrop-filter: blur(10px);
}

.transition-custom{
    transition: 1s;
}

.hCustomNav{
    height: 10vh;
}

.menu{
    position: fixed;
    right: -33%;
    height: 100vh;
    width: 33%;
    z-index: 12;
    transition: 1s;
}

.menuOpen{
    right: 0;
    transition: 1s;
    position: fixed;
    height: 100vh;
    width: 33%;
    z-index: 12;
}

.borderMenu{
    border-left: 1px solid rgb(75, 85, 99);
}


.bg-bgHome{
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15)), url('/public/media/img/IMG_5492.jpg'); */
    /* background-size: cover; */
    height: 100vh;
    background-image: url('/public/media/img/DSC03763.JPG');
    background-size: cover;
    /* background-position: center; */
    background-position-y: 20%;
    background-position-x: center;
    /* background-repeat: no-repeat; */
    
}

.bg-contacts{
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.25)), url('/public/media/img/IMG_5571.jpg');
    background-size: cover;
}

.bg-bio{
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.25)), url('/public/media/img/IMG_5497.jpg');
    background-size: cover;
}



@media screen and (max-width: 440px) {
    
    .bg-bgHome{
        height: 100vh;
        /* background-size: cover; */
        background-size: 115vh;
        background-position-y: center;
        background-position-x: 47%;
        background-repeat: no-repeat;

    }

    .menu{
        width: 100%;
        right: -100%;
    }

    .menuOpen{
        right: 0;
        width: 100%;
    }


}